@property --c1 {
  syntax: "<color>";
  inherits: true;
  initial-value: red;
}
@property --c2 {
  syntax: "<color>";
  inherits: true;
  initial-value: red;
}

@keyframes shift {
  0%,100% {
    --c1: red;
    --c2: blue;
  }
  50% {
    --c1: blue;
    --c2: red;
  }
}
:root {
  --c1: red;
  --c2: orange;
  animation: shift 10s linear infinite;
  background-image: radial-gradient(
    circle at bottom in oklch,
    var(--c1),
    var(--c2)
  );
  min-height: 100%;
}